{% extends 'base.html' %}
{% block content %}
    <h1>My Posts</h1>

    <a href="http://127.0.0.1:8000/app/facebook/home">Go home</a></br></br>

    <body>
            <div class="container">
                <div class="row">
                    <div class="container">
                            <form method="post">
                                    <label>Post:</label>
                                    <input type="text" name="message">
                                    <input type="submit" value="Submit">
                                </form>
                        <blockquote class="quote-card">
                            {% for post in posts['data'] %}
                            <ul>
                                {% if post['message'] %}
                                    <li>
                                        <h2>{{ post['message'] }}</h2>
                                        <p>{{ post['created_time'] }}</p>
                                        <a href= {{ "/app/facebook/delete/post/" }}{{ post['id']}}>Delete</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>   
{% endblock %}


